/* BASIC RESETS */
h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

nav ul, nav ol {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

a { text-decoration: none; }

:root {
	--rich-black: #061923;
	--firey-rose: #FF5964;
	--alice-blue: #EBF8FF;
	--jasmine: #FFE099;
	--tea-green: #C8D6AF;
	--tea-green-light: #F7FFEA;
	--english-violet: #48284A;
}


/*BASIC TYPOgRAPHY */

body {
	font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: var(--rich-black);
    padding-top: 100px;
}


h1, h2, h3, h4 { 
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
}



h2 {
	font-size: 24px;
	margin-bottom: .5em;
	color: var(--firey-rose);
}

h3 {
	font-size: 20px;
	margin-bottom: .5em;
}

h4 {
	margin-bottom: .5em
}

p {
	margin-bottom: 1em;
	line-height: 1.4em;
}


/* Basic Page Sections */

#page {
    max-width: 1500px;
    margin: auto;
}

section, footer {
    padding: 20px;
    margin-bottom: 150px;
}

section section {
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    height: 101px;
    position: fixed ;
    top: 0;
    left: 0;
    width: 100%;
	background-color: rgba(0,0,0,0.75);
    z-index: 10;
    padding: 10px 0;
}

.logo {
    position: relative;
    width: 140px;
    margin: auto;
    margin-bottom: 10px;
}
.logo img{
    width: 50px;
}
.logo h1 {
    position: absolute;
    top: 10px;
    left: 42px;
    color: var(--firey-rose);
    font-size: 24px;

}
header .logo:hover{
    cursor: pointer;
}

header nav ul {
    display: flex;
    justify-content: center;
} 

header nav ul li a {
    display: block;
    font-family: 'Quicksand', sans-serif;
    color: var(--alice-blue);
    font-weight: 600;
    padding: 0 5px;
}

/* Slider Styling*/

#slider {
    margin-bottom: 150px;
}

#slider .flexslider ul li >div {
    position: relative;
    height: 0;
    padding-top: 46.7%;
}

#slider .flexslider> ul > li >div {
    background-size: cover ;
}
.slide1{
    background-image: url(images/slider/slider01-large.jpg);
}
#slider .cta {
    background-color: rgba(6, 25, 35, 0.5);
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    color:#fff;
}
#slider .cta h2 {
    font-size: 20px;
    color: #fff;
}



/* Overview Styling */

.intro h2 {
    font-size: 30px;
}

.intro p{
    font-size: 20px;
}


#overview section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

/* Download Section Styles */
#download {
	background-color: var(--tea-green-light);
	padding: 0;
}

#download ul {
	list-style-type: none;
}

#download .eachfeature li {
	width:100%;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#download ul li a {
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	color: var(--firey-rose);
}

#download article{
	padding: 20px;
}

#download article:first-of-type{
	display: flex;
}

#download > article > div {
	margin-right: 20px;
}

#download article div img {
	width: 70px;
	margin: auto;
}

#download article img {
	margin: auto;
}

#download article:first-of-type ul {
	margin-top: 30px;
}

#download article:nth-child(2){
	background-color: var(--tea-green);
	min-height: 300px;
	overflow: hidden;
	position: relative;
}

#feature-container {
	position: relative;
	overflow: hidden;
	height: 200px;
}

#features {
	position: absolute;
	top: 0;
}

#download article:nth-child(2) a {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #364A14;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: 600;
	font-family: 'Quicksand', sans-serif;
	color: var(--jasmine);
}


